<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>Rechercer</h3>
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Id">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Date" type="date">
                                </mat-form-field>
                            </div >                                                 
                        <div class="clearfix"></div>
                        </div>
                        <button class="btn btn-danger" type="reset">Annuler</button>
                        <button class="btn btn-success" type="submit" >Chercer</button>         
                    </form>
                    <div style="float: right;">
                           
                    </div>
                </div></div>

                <!--add-->
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-success" style="float: right;" (click)="openAdd()">Ajouter</button>
                    </div></div>
              <div class="card">
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Réf
                                  </th>
                                  <th>
                                      Date de création
                                  </th>
                                  <th>
                                      Nom Catégorie
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let cat of data">
                                      <td>
                                          {{cat.ref}}
                                      </td>
                                      <td>
                                          {{cat.date}}
                                      </td>
                                      <td>
                                          {{cat.categorie}}
                                      </td>
                                      <td>
                                          <button class="btn btn-info" (click)="openUpdate()">Modifier</button>
                                          <button class="btn btn-danger " (click)="delete()">Supprimer</button>
                                          
                                      </td>
                                    
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
